NODE_ENV=development

## Discord
DISCORD_TOKEN=your_bot_token_here
DISCORD_CLIENT_ID=your_client_id_here

## PostgreSQL
DATABASE_URL=postgresql://user:password@localhost:5432/discord_bot

## Bot
OWNER_IDS=188851299255713792
DEFAULT_PREFIX=!
# used for generating return messages to the user. controls the "joke" level
# range from 0 (serious, straightforward) to 3 (jokiest, might be slighly hard to understand via message alone)
DEFAULT_QUIP_JOKE_LEVEL=0

## Bot Flags
F_ENFORCE_REPLY_BEFORE_EDIT=false

# Logging
LOG_LEVEL=debug
